<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--부트스트랩 프레임워크 / jquery 라이브러리-->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>